# Folder hasil compile ASP.NET
bin/
obj/

# File konfigurasi Visual Studio & VS Code
.vs/
.vscode/
*.user
*.suo

# File konfigurasi sensitif (Keamanan)
.env
appsettings.json
appsettings.Development.json